@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,800|Exo:100,300,400,500,800');

/*--------------------------------- Colors --------------------------------- */

.bg-color-name-title{
	background-color: #212121;
}
.ui-menu-color-home {
	background-color: #e67e22;
}

.ui-menu-color-resume {
	background-color: #9b59b6
	
}

.ui-menu-color-contact {
	background-color: #3498db
}

.ui-menu-color-download {
	background-color: #525252;
}
/*--------------------------------- Heading --------------------------------- */
header {
	margin: 0;
}

.heading {
	margin-left: 50px;	
}

.logo {
	background: url("../img/profile.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 360px;
	transition: all .5 ease-out;
	-moz-transition: all .5 ease-out;
	-webkit-transition: all .5 ease-out;
}

.name {
	font-family: "Exo", sans-serif;
	font-weight: 100;
	font-size: 46px;
	margin-top: 50px;
	color: #fff;
}
.title {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 90px;
	color: #fff;
}

#nav {
	margin: 0;
}
.menu-item {
	height: 120px;
	text-align: center;
	padding: 0;
}