@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,800|Exo:100,300,400,500,800");

/*--------------------------------- Colors --------------------------------- */

.bg-color-name-title {
	background-color: #212121;
}
.ui-menu-color-home {
	background-color: #e67e22;
}

.ui-menu-color-resume {
	background-color: #9b59b6;
}

.ui-menu-color-contact {
	background-color: #3498db;
}

.ui-menu-color-download {
	background-color: #525252;
}

.bg-color-three-reasons {
	background-color: #fff;
}

.bg-color-personal-info {
	background-color: #f4f4f4;
}

/*--------------------------------- Heading --------------------------------- */
header {
	margin: 0;
}

.heading {
	margin-left: 50px;
}

.logo {
	background: url("../img/profile.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 360px;
	transition: all 0.5 ease-out;
	-moz-transition: all 0.5 ease-out;
	-webkit-transition: all 0.5 ease-out;
}

.name {
	font-family: "Exo", sans-serif;
	font-weight: 100;
	font-size: 46px;
	margin-top: 50px;
	color: #fff;
}
.title {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 90px;
	color: #fff;
}

#nav {
	margin: 0;
}

#nav li {
	padding: 0;
}
.menu-item {
	height: 120px;
	text-align: center;
	padding: 0;
}

.menu-item a {
	width: 100%;
	text-decoration: none;
	color: #fff;
	height: 120px;
}

.menu-item a i {
	padding-top: 22px;
	display: block;
	color: #fafafa;
	font-size: 26px;
}

.menu-item span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300px;
	letter-spacing: 2px;
}

/* ------------------ hover.css ------------------ */

.hvr-sweep-to-bottom:before {
	background: rgba(33, 33, 33, 0.2);
	height: 120px;
}

/* ------------------- Special Padding / Margin / Text -------------------- */
h1,
h2,
h3,
h4 {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Exo", sans-serif;
	font-weight: 300;
	color: #fafafa;
}

.inline-block {
	display: inline-block;
}

/* .section-column {
	padding: 0 30px 30px;
	float: none;
	display: table-cell;
} */

.row-table {
	display: table;
	background-color: #212121;
}

.section-heading {
	font-family: "Exo", sans-serif;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 40px;
}
/* ------------------- Footer -------------------- */

footer {
	background-color: #212121;
	color: #fafafa;
	min-height: 120px;
	margin: 0px;
}
footer .cv-pdf i {
	color: #fafafa;
	text-align: center;
	font-size: 18px;
	padding-left: 5px;
}

footer .cv-pdf i:hover {
	color: #e84610;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background: #e84610;
}

#footer-details {
	margin: 20px;
}

/* ------------------- Three reasons why -------------------- */

.three-reasons-icon {
	font-size: 26px;
	color: #e67e22;
}
.three-reasons-heading {
	margin-bottom: 15px;
}

/* ------------------- Personal Info-------------------- */



/* ------------------- Media Queries-------------------- */

@media(min-width: 992px) {
	.section-column {
		padding: 0 30px 30px;
		float: none;
		display: table-cell;
	}
}
